.main-content {
  display: flex;
}

.plane-container {
  margin: 20px auto;
  padding: 0px 10px 10px 10px;
  display: flex;
  width: 60vw;
  border: 1px solid grey;
  background-color: rgba(214, 214, 214, 0.849);
  align-items: center;
  flex-direction: column;
  align-content: stretch;
}

.plane-header {
  padding: 20px;
  display: flex;
}

.add-plane-form {
  padding: 20px;
  border: 1px solid black;
}

.plane-list {
  /* padding: 20px;
  width: 25rem; */
  border: 1px solid black;
}

.plane-form {
  text-align: center;
}

.field-label {
  display: inline-block;
  width: 120px;
}

tr {
  width: 2rem;
}

td,
th {
  border: 1px solid black;
  width: 6rem;
  text-align: center;
}

.delete-field {
  padding: 20px;
  color: red;
}
